{% extends "layout.html" %}
{% block content %}
    <h2>/n</h2>
    <P>/n</P>
    <h1>
        <font color="red">
        About Page
        </font>
    </h1>
    
    
    
    <h3>
        <font color="OOFFOO">
        THIS APP IS CREATED BY JOSEPH JOSHUA SYAM AND ZUBIN. 
        THIS APP HELPS TO GENERATE AND PREVENT DDOS ATTACK
        </font>
    </h3>
    <h3>
        <font color="yellow">
        our tasks
        </font>
    </h3>
    
    <li class="list-group-item list-group-item-light">WEB</li>
                <li class="list-group-item list-group-item-light">DDOS ATTACK GENERATION</li>
                <li class="list-group-item list-group-item-light">DATA COLLECTION</li>
                <li class="list-group-item list-group-item-light">AI PART</li>
{% endblock content %}


